body {
    font-family: sans-serif;
    background-image: url('https://i.pinimg.com/originals/44/98/ca/4498ca3890cf5302669471b7d0a83d14.jpg');
    
   
b {
    font-family: i ;
    text-align:center;
}
h1 {
    font-style: bold white;
    color: rgb(173, 55, 173);
}
ul {
    color : white;
}
p {
    color:white;
}
.BaRcffffffff {
    color:rgba(48, 26, 92, 0.846);
}
